.side-menu {
  width: 15%;
  height: 100vh;
  position: fixed;
  grid-area: a;
  background: #202020;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  margin-top: 2rem;
}

.menu-item {
  /* justify-content: space-between; */
  padding: 1rem;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.menu-item > h4 {
  margin-left: 2rem;
}

.menu-item:hover {
  background: #181616;
}

.selected{
  background: #4d4d4d;
}

@media screen and (max-width: 1159px) {
  .side-menu {
    display: none;
  }
}
