@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://lemoncss.netlify.app/styles/main.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #17181a;
}

.content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-areas:
    "a b b"
    "a b b";
  margin: 3.8rem 1rem 1rem 0rem;
}

::-webkit-scrollbar {
  background: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2d2e2e;
  border-radius: 15px;
}

@media screen and (max-width: 1159px) {
  .content {
    grid-template-areas:
      "b b b"
      "b b b";
    margin: 3.8rem 1rem 1rem 1rem;
  }
}
