.main-nav {
  display: flex;
  background: #202020;
  color: white;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
}

.circle {
  margin-top: 0;
  width: 45px;
  height: 45px;
}

.square1 {
  width: 25px;
  height: 25px;
}

.square2 {
  width: 35px;
  height: 45px;
}

.logo-caption {
  font-size: 2rem;
  margin-left: 1rem;
}

.nav-search {
  width: 40%;
  display: flex;
  align-items: center;
}

.nav-search > input {
  width: 90%;
  padding: 0.3rem 1rem;
  background: #4b4a4a;
  height: 2rem;
  color: white;
  border: none;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  background: #4b4a4a;
}

.nav-btn {
  padding: 0.44rem;
  border: none;
  width: 40px;
  cursor: pointer;
}

.nav-options {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.option-btn {
  background: none;
  color: white;
}

.avatar {
  padding: 0.4rem;
  background: #00579c;
  border-radius: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 1159px) {
  .nav-search {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .main-nav {
    flex-direction: row;
  }

  .nav-options {
    width: 50%;
  }

  .circle {
    width: 35px;
    height: 35px;
  }

  .square1 {
    width: 15px;
    height: 15px;
  }

  .square2 {
    width: 25px;
    height: 35px;
  }

  .logo-caption {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 470px) {
  .logo-caption {
    font-size: 1.1rem;
    margin-left: 0.5rem;
  }

  .circle {
    width: 25px;
    height: 25px;
  }

  .square1 {
    width: 10px;
    height: 10px;
  }

  .square2 {
    width: 15px;
    height: 25px;
  }

  .nav-options {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .circle {
    display: none;
  }

  .logo-caption {
    font-size: 0.9rem;
  }
}
